.group-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(280px, 1fr));
    column-gap: 10px;
    row-gap: 20px;
    place-items: center;
    color: white; 
}

.group-list > a {
    margin: 20px 0 0 0;
    width: 400px;
    padding: 0;
    text-decoration: none;
}

.group-card {
    display: grid;
    place-self: center;
    margin: 0;
    width: 400px;
    padding: 20px 0 20px 0;
    background-color: slategray;
    border-radius: 10px;
    transition: 250ms;
    border: 5px solid rgba(0, 0, 0, 0);
}

.group-card > div {
    display: flex;
    flex-direction: column;
    height: 20px;
    text-decoration: none;
    margin: 0;
    font-weight: bold;
    justify-content: center;
    letter-spacing: 2px;
    transition: 500ms;
}

.group-card > div > .group-card-text{
    transition: color 200ms;
    color: white; 
}

.group-card:hover {
    border: 5px solid rgb(162, 174, 186);
}